* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --purple: #6d69ed;
}

html {
  font-family: "Poppins", sans-serif;
}

p,
h1 {
  color: #252330;
}

main {
  background: rgb(243, 243, 243);
  width: 100vw;
  height: 100vh;
  padding: 15px;
  display: flex;
  gap: 2rem;
  /* overflow-y: hidden; */
  /* align-items: center; */
}

/* NAV SECTION STYLING */
nav {
  position: relative;
  background-color: var(--purple);
  border-radius: 20px;
  padding: 30px 10px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.nav-item span,
.settings span {
  display: none;
}

nav i {
  font-size: 1.25rem;
  color: #fff;
}

.nav-toggler {
  position: absolute;
  top: 70px;
  right: -15%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 3px rgba(134, 134, 134, 0.5);
}

.nav-toggler i {
  color: var(--purple);
}

.logo p {
  font-weight: 500;
  color: #fff;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1rem;
}

.settings {
  position: absolute;
  bottom: 40px;
}

.active::before {
  content: "";
  background: #fff;
  width: 4px;
  height: 18px;
  position: absolute;
  left: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* CONTENT SECTION STYLING */
section.content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
  /* width: 60%; */
  height: 100%;
}

.card {
  background-color: #fff;
  border-radius: 15px;
}

.greeting,
.account-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account-details {
  gap: 1rem;
}

.detail-card {
  width: 200px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.detail-card div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.detail-card div i:first-of-type {
  color: var(--purple);
  font-size: 2.5rem;
}

.detail-card div i:last-of-type {
  font-size: 1.2rem;
}

.card-text {
  flex-direction: column;
}
.card-text p {
  font-size: 0.8rem;
  width: 60%;
}

.clients-details {
  display: flex;
  align-items: center;
  width: 100%;
  height: 218px;
  gap: 1rem;
}

.client-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}
.charts {
  width: 100%;
}

.clientele {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.clientele > p,
.chart-head p:nth-child(1) {
  font-weight: 700;
}

.mini-clientele {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mini-clientele p:first-of-type {
  font-size: 2.3rem;
  font-weight: 500;
}

.mini-clientele p:last-of-type {
  font-size: 0.8rem;
  text-align: center;
  border-radius: 10px;
  padding: 0.1rem;
  width: 60px;
}

.first p:last-of-type {
  background-color: rgb(206, 255, 206);
  color: rgb(0, 139, 0);
}
.second p:last-of-type {
  background-color: #ffc7c7;
  color: #fc0f07;
}

.charts {
  height: 100%;
  padding: 10px 20px;
}
.chart-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chart-head p:nth-child(2) {
  font-size: 0.8rem;
}

.emails {
  padding: 10px 20px;
  overflow-y: hidden;
}

.emails > p {
  font-weight: 700;
  padding-bottom: 10px;
}

.mail-list {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 25px;
}

.mail {
  border-top: 1px solid rgba(128, 128, 128, 0.151);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mail img,
img {
  border: 3px solid var(--purple);
  display: block;
  border-radius: 100px;
  width: 30px;
  height: 30px;
}
.mail p {
  font-size: 0.8rem;
  color: grey;
}

.subject {
  width: 40%;
}
.name {
  width: 20%;
}
.time {
  width: 20%;
  text-align: right;
}

/* PROFILE SECTION STYLING */
.profile-section {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
}

.tool-bar,
.profile-pic {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.tool-bar {
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
